.App {
    width: 375px;
    height: 790px;
    border-radius: 40px;
    background: var(--bg);
    color: var(--light);
    padding: 50px 30px 30px;
    display: grid;
    gap: 25px;
    align-content: start;
  }

  // finish