.IconButton {
    --size: 45px;
    width: var(--size);
    height: var(--size);
    border-radius: var(--size);
    background: linear-gradient(to right, rgb(248, 226, 101), rgb(241, 162, 5));
    display: grid;
    align-items: center;
    justify-items: center;
    cursor: pointer;
  
    i {
      font-size: 25px;
      color: #333;
    }
  }