.Actions {
    display: grid;
    grid-template-columns: 1.8fr 1.2fr;
    gap: 25px;
  
    .action {
      cursor: pointer;
    }
  
    i {
      font-size: 20px;
    }
    span {
      font-size: 12px;
    }
  }